@model IEnumerable<VPPShop.Models.CartViewModel>

@{
    ViewData["Title"] = "Cart";
}

<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0 cart-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Huỷ bỏ</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.ProductId">
                            <td class="align-middle text-left">
                                <img src="~/img/products/@item.Image" alt="@item.ProductName" style="width: 50px; height:50px;" class="mr-2">
                                <a class="text-primary" asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">
                                    @item.ProductName
                                </a>
                            </td>
                            <td class="align-middle discounted-price">@item.DiscountedPrice.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) đ</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button data-id="@item.ProductId" class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center quantity-input" value="@item.Quantity" readonly>
                                    <div class="input-group-btn">
                                        <button data-id="@item.ProductId" class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle item-total">@item.Total?.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) đ</td>
                            <td class="align-middle">
                                <a class="btn btn-sm btn-danger" asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.ProductId">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="Mã giảm giá">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Áp dụng mã</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thông tin giỏ hàng</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Tổng tiền hàng</h6>
                        <h6 class="cart-total">@Model.Sum(p => p.Total)?.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) đ</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Phí vận chuyển</h6>
                        <h6 class="font-weight-medium">0 đ</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Tổng cộng</h5>
                        <h5 class="cart-total">@Model.Sum(p => p.Total)?.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) đ</h5>
                    </div>
                    <a asp-action="Checkout" asp-controller="Cart" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Tiến hành thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
