@model VPPShop.Models.ProductCardVM


<div class="product-item bg-light mb-4 justify-content-center align-items-center d-flex flex-column">
    <div class="product-img position-relative overflow-hidden">
        <img class="product-img-fixed" src="~/img/products/@Model.Image" alt="@Model.ProductName">
        <div class="product-action">
            <a class="btn btn-outline-dark btn-square btn-add-to-cart" data-product-id="@Model.ProductId" data-quantity="1" data-toggle="tooltip" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square btn-add-to-favorites" data-product-id="@Model.ProductId" data-toggle="tooltip" title="Thêm vào yêu thích">
                <i class="far fa-heart"></i>
            </a>            
            <a class="btn btn-outline-dark btn-square" asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId" data-toggle="tooltip" title="Xem thông tin sản phẩm"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="text-center py-4">
        <a class="h6 text-decoration-none text-truncate" asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">@Model.ProductName</a>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>@Model.DiscountedPrice.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) đ</h5>
            @if (Model.Discount > 0)
            {
                <h6 class="text-muted ml-2">
                    <del>@Model.UnitPrice.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) đ</del>
                </h6>
            }
        </div>
        <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
        </div>
    </div>
</div>



